<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie:</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
</head>
<body>
Actor page
<a href="/">Home</a>
<a href="/movies">Movies</a><br>
<a href="/movies/addNewMovie">Add New Movie</a><br>
<a href="/actors">Actors</a><br>
<a href="/actors/addNewActor"> Add New Actor</a><br>
<br>
<p>Here will be the Movie</p>
<div th:object="${actor}">
</div>
</body>
</html>