<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
</head>
<p>
All Movies
<a href="/movies/addNewMovie">Add New Movie!</a><br>
<br>
<p>Here will be the Movies List</p>
<div th:each="movie : ${movies}">
    <span text="">Movie Name</span>
    <p th:text="${movie.movieName}">Movie Name</p>
    <span text="">Movie Rank</span>
    <p th:text="${movie.ranking}">Rank</p><br/>

</div>
<p>End of the Movies List</p>
</body>
</html>