<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome to Movie Advisor App!</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
</head>
<body>
<a href="/movies">Movies</a><br>
<a href="/movies/addNewMovie">Add New Movie</a><br>
<a href="/actors">Actors</a><br>
<a href="/actors/addNewActor"> Add New Actor</a><br>
    <h1>Welcome to the Movie Advisor App</h1><br>
    <br>
<a href="/users/registration">Register</a><br>
<a href="/login">Login</a><br>
Sign in Sign up<br>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
    <a href="/movies">Movies</a><br>
    <a href="/actors">Actors</a><br>
    <img th:src="@{/images/MovieAdvisorLogo.png}"/>

</body>
</html>