<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie:</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
</head>
<body>
<a href="/movies">Movies</a><br>
<a href="/movies/addNewMovie">Add New Movie</a><br>
<a href="/actors">Actors</a><br>
<a href="/actors/addNewActor"> Add New Actor</a><br>

<br>
<p>Here will be the Movie</p>

<div th:object="${movie}">
    <span text="">Movie Name</span>
    <p th:text="${movie.movieName}">Movie Name</p>
    <span text="">Year</span>
    <p th:text="${movie.year}">Movie Year</p>
    <span text="">Movie Rank</span>
    <p th:text="${movie.ranking}">Rank</p>
    <span text="">Movie id</span>
    <p th:text="${movie.id}">id</p>
    <p th:utext="${movie.poster}">Movie Name</p><br>
    <p th:utext="${movie.youtubeLink}">Youtube link</p>
</div>
</body>
</html>